
.header {
  width: 100%;
  position: fixed;
  /* top: 0; */
  /* bottom: 0; */
  z-index: var(--z-fixed);
  background-color: var(--card-color);
}
.nav {
  height: calc(var(--header-height) + 1.5rem);
  display: flex;
  justify-content: space-between;

  align-items: center;
  column-gap: 1rem;
}

.nav__logo,
.nav__toggle {
  display: none;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}
.nav__list {
  display: flex;
  column-gap: 2rem;
}
.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.nav__icon,
.nav__close,
.nav__toggle {
  display: none;
}
/* ACTIVE LINK */
.active-link,
.nav__link:hover {
  color: #01C369;
}
/* BREAKPOINTS */
/* for medium devices */
@media screen and (max-width: 768px) {
  .header {
    /* top: initial; */
    bottom: 0;
  }
  .nav {
    height: var(--header-height);
    background-color: var(--card-color);
  }
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--card-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    /* -webkit-border-radius:;
        -moz-border-radius:;
        -ms-border-radius:;
        -o-border-radius:; */
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }

  /* Show Menu */
  .show-menu {
    bottom: 0;
  }
  .show-menu .nav__toggle {
    display: none;
  }
  .nav__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .nav__icon {
    font-size: 1.2rem;
  }

  .nav__close {
    position: absolute;
    right: 1.3rem;
    bottom: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--title-color);
  }
  .nav__close:hover {
    color: var(--title-color-dark);
  }
  .nav__toggle {
    font-size: 1.1rem;
    cursor: pointer;
  }

  .nav__icon,
  .nav__close,
  .nav__toggle {
    display: block;
  }
}

/* For Small devices */
@media screen and (max-width: 350px) {
  .nav__menu {
    padding: 2rem 0.25rem 4rem;
  }
  .nav__list {
    column-gap: 0;
  }
}

/* Sign In */

.sign {
  display: inline-block;
  background-color: var(--btn-color);
  color: var(--container-color);
  padding: 0.4rem 2rem;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  font-weight: var(--font-medium);
}
/* Change Background Header */
.scroll-header{
  
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}